.hover1{
    background-color: rgb(238, 238, 238);
    width: 400px;
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5%;
    position: absolute;
    top: 80px;
    left: 31.6%;
}
.hover1-div{
    margin-top: 25%;

    
}
.hover1-div>h3{
    margin: 8% 0;
}