/* CSS started from here */

#login{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#login>:first-child{
  border: 1px solid red;
  width: 35%;
  border-left: 10px solid yellow;
}
#login>:first-child>div>img{
  width: 38px;
  height: 38px;
  margin-left: 15px;
  margin-top: 15px;
}
#login>:first-child>:nth-child(2){
  margin-left: 25px;
  border: 1px solid black;
}
#login>:last-child{
  border: 1px solid blue;
  width: 70%;
}
#login>:last-child>div>img{
  width: 100%;
  height: 100%;
}
#logInDiv{
  width: 95%;
}
.LinputFields{
  margin-top: 20px;
  font-size: 1rem;
    height: 48px;
  font-weight: bold;
}
.LinputFields>div{
  margin-bottom: 10px;
}
.LinputFields>input{
  width: 100%;
  height: 30px;
}
#signInButton{
  background-color: #007c89;
  width: 100%;
  height: 30px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.6rem;
    height: 48px;
}